@inherits LayoutComponentBase

<div class="page"> 
    <div class="sidebar">
        <AuthorizeView>
            <Authorized>
                <NavMenu />
            </Authorized>
            <NotAuthorized>
                <NavMenuUnAuthorized />
            </NotAuthorized>
        </AuthorizeView>
    </div>
            
    <main role="main">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
