<div class="row justify-content-center mt-5">
    <MatCard class="demo-mat-card">
        <MatCardContent>
            <div class="demo-mat-card-content">
                <MatHeadline6 class="demo-mat-card-clean-margin text-center">
                    We are currently authorizing you.
                </MatHeadline6>
                <MatSubtitle2 class="demo-mat-card-clean-margin">
                    Please remain patient.
                </MatSubtitle2>
            </div>
            <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                <h3 class="mat-subtitle1">Loading...</h3>
                <MatProgressBar Indeterminate="true"></MatProgressBar>
            </MatBody2>
        </MatCardContent>
    </MatCard>
</div>