@page "/"
@attribute [Authorize]
@inject ILoggedInUserModel loggedInUser
@inject IMediaFileEndpoint mediaFileEndpoint
@inject IGenreEndpoint genreEndpoint
@inject IFileStorage fileStorage
@inject ISecureStorageWrapper secureStorage
@inject IJSRuntime JSInterop
@inject NavigationManager navManager

<h1 class="page-heading mb-2">Discover</h1>

<div class="row">
    <div class="col-12">
        <div class="input-group mb-3">
            <MatStringField Label="Search" HelperText="Search your media with your title and description." 
                FullWidth="true" @oninput="((txt) => OnSearchInput((string)txt.Value))" @bind-value="searchText"/>
            <MatButton Raised Class="bg-secondary w-100 mt-2" Type="button" @onclick="LoadResults">
                Search
            </MatButton>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">    
        <div class="row">
            @if (mediaFiles is not null && genres is not null)
            {
                <Virtualize Items="genres" Context="g" OverscanCount="10">
                    <div class="col-12 d-flex justify-content-between">
                        <h3 class="page-heading mb-2 custom-pointer d-inline-block width-auto text-decoration-underline" 
                            @onclick="(() => LoadGenreMedia(g))">
                            @g.GenreName
                        </h3>
                        <a href="#" class="link-dark text-decoration-none" @onclick="(() => LoadGenreMedia(g))">
                            See All &#8594;
                        </a>
                    </div>
                    <Virtualize Items="GetGenreMedias(g)" Context="m" OverscanCount="10">
                        <MediaComponent @key="m.Id" Media="m"/>
                    </Virtualize>
                </Virtualize>
            }
        </div>
    </div>
</div>


