@page "/YourVideos"
@attribute [Authorize]
@inject ILoggedInUserModel loggedInUser
@inject IMediaFileEndpoint mediaFileEndpoint
@inject IGenreEndpoint genreEndpoint
@inject ISecureStorageWrapper secureStorage
@inject NavigationManager navManager

<h1 class="page-heading">My Videos</h1>

<div class="row">
    <div class="text-uppercase fw-bold">Uploaded @medias?.Count medias</div>
    <div class="col-12">
        <div class="input-group">
            <MatStringField Label="Search" HelperText="Search your media with your title and description." 
                FullWidth="true" @oninput="((txt) => OnSearchInput((string)txt.Value))" @bind-value="searchText"/>
            <MatButton Raised Class="bg-secondary w-100 mt-2" Type="button" @onclick="LoadResults">
                Search
            </MatButton>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        @if (medias is not null)
        {
            <Virtualize Items="medias" Context="m" OverscanCount="10">
                <MediaComponent @key="m.Id" Media="m"/>
            </Virtualize>
        }
    </div>
</div>


